* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #c2c2c2;
    margin: 0 auto;
    max-width: 1024px;
}

header,
footer {
    background-color: #003a66;
    text-align: center;
    padding: .5rem;
    color: #fff;
}

h2 {
    padding: 10px;
    color: #7a0008;
}

h3 {
    padding: 15px;
    font-weight: bold;
}

p {
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    color: #000;
    font-weight: bold;
}